{% extends '/devices/__devicesBase__.html' %}

{% block content %}

    <script>
    // If server has locked the autorefresh, start own communication:
    socket.on("isLocked", data => {
        console.log(data);
        if(data == true)
        {
            socket.emit('get_value', {name: "ext_vcc+usb_vcc+temp", cmd: '[{{ posts['I2C_ID'] }}, 6, 7]', cmdType: 'RS'});  // only send data when server has locked autoRefresh
        }
    });


    socket.on("value_reply", data => {
        console.log(data);
        document.getElementById("cur_light_intensity").innerHTML = "Current Light Intensity: " + (data["value"][3]);
        document.getElementById("ext_vcc").innerHTML = "External voltage: " + (data["value"][5] /10) + "V";
        document.getElementById("temperature").innerHTML = "Temperature: " + data["value"][6] + "°C";

        if(document.getElementById("setTempOffsetText").value == "?")
        {
            document.getElementById("setTempOffsetText").value = data["value"][0];
        }

        if(document.getElementById("setLightIntensityText").value == "?")
        {
            document.getElementById("setLightIntensityText").value = data["value"][4];
        }

        if(document.getElementById("setLoopIntervalText").value == "?")
        {
            document.getElementById("setLoopIntervalText").value = data["value"][1];
        }

        if(document.getElementById("setOverTemperaturePresetText").value == "?")
        {
            document.getElementById("setOverTemperaturePresetText").value = data["value"][2];
        }
    });
    </script>

    <!-- Put variable read only values here:  -->
    <!-- These values are updated in the "socket.on("value_reply" script:  -->
    <div class="container">
        <h2 class="badge badge-info devices-larger-badge" id="cur_light_intensity"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="ext_vcc"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="temperature"></h2>
    </div>


    <!-- Put variable read & write values here:  -->
    <!-- These values use a get request to send to server:  -->
    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=5,1 />
            <label for="setI2C">Dev ID:</label><br>
            <input type="text" id="setI2C" name="0" value="{{ posts['I2C_ID'] }}">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=10,1 />
            <label for="setLightIntensityText">Light Intensity (0-255):</label><br>
            <input type="text" id="setLightIntensityText" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=6,1 />
            <label for="setTempOffsetText">Temperature offset (0-255):</label><br>
            <input type="text" id="setTempOffsetText" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=7,1 />
            <label for="setLoopIntervalText">Loop interval (ms):</label><br>
            <input type="text" id="setLoopIntervalText" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=8,1 />
            <label for="setOverTemperaturePresetText">Over temperature treshold (°C):</label><br>
            <input type="text" id="setOverTemperaturePresetText" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

{% endblock %}