{% extends '/devices/__devicesBase__.html' %}

{% block content %}

    <script>
    // If server has locked the autorefresh, start own communication:
    socket.on("isLocked", data => {
        console.log(data);
        if(data == true)
        {
            socket.emit('get_value', {name: "PWMandTacho", cmd: '[{{ posts['I2C_ID'] }}, 6, 10]', cmdType: 'RS'});  // only send data when server has locked autoRefresh
        }
    });


    socket.on("value_reply", data => {
        console.log(data);

        document.getElementById("tacho_A").innerHTML = "A (rpm): " + (((data["value"][3] & 0xff) << 8) | (data["value"][4] & 0xff));
        document.getElementById("tacho_B").innerHTML = "B (rpm): " + (((data["value"][5] & 0xff) << 8) | (data["value"][6] & 0xff));
        document.getElementById("tacho_C").innerHTML = "C (rpm): " + (((data["value"][7] & 0xff) << 8) | (data["value"][8] & 0xff));

        //document.getElementById("tacho_B").innerHTML = "B (rpm): " + (((data["value"][3] & 0xff) << 8) | (data["value"][4] & 0xff)));
        //document.getElementById("tacho_C").innerHTML = "C (rpm): " + data["value"][8] + "°C";

        if(document.getElementById("setPwm_A").value == "?")
        {
            document.getElementById("setPwm_A").value = data["value"][0];
        }

        if(document.getElementById("setPwm_B").value == "?")
        {
            document.getElementById("setPwm_B").value = data["value"][1];
        }

        if(document.getElementById("setPwm_C").value == "?")
        {
            document.getElementById("setPwm_C").value = data["value"][2];
        }
    });
    </script>

    <!-- Put variable read only values here:  -->
    <!-- These values are updated in the "socket.on("value_reply" script:  -->
    <div class="container">
        <h2 class="badge badge-info devices-larger-badge" id="tacho_A"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="tacho_B"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="tacho_C"></h2>
    </div>


    <!-- Put variable read & write values here:  -->
    <!-- These values use a get request to send to server:  -->
    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=5,1 />
            <label for="setI2C">Dev ID:</label><br>
            <input type="text" id="setI2C" name="0" value="{{ posts['I2C_ID'] }}">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=6,1 />
            <label for="setPwm_A">PWM setpoint A (0-255):</label><br>
            <input type="text" id="setPwm_A" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=7,1 />
            <label for="setPwm_B">PWM setpoint B (0-255):</label><br>
            <input type="text" id="setPwm_B" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=8,1 />
            <label for="setPwm_C">PWM setpoint C (0-255):</label><br>
            <input type="text" id="setPwm_C" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

{% endblock %}