<meta http-equiv="refresh" content="2.5; URL=/">

{% extends '__base__.html' %}

{% block content %}
    <h1>{% block title %} Xnorduino hardware visualizer {% endblock %}</h1>

    {% if posts['AUTO_UPDATE_LOCKED'] == True %}
        <p class="badge badge-secondary index_title-larger-badge"> Auto update: paused!</p>
        <p class="badge badge-light"> Close device windows to reactivate auto updates.</p>
    {% else %}
        <p class="badge badge-success index_title-larger-badge"> Auto update: Active!</p>
        {% if posts['DEVICES']|length <= 0 %}
            <h4 class="badge badge-info index_title-larger-badge"> Detecting devices, please wait...</h4>
            {% endif %}
    {% endif %}


    {% for device in posts['DEVICES'] %}
         <a href="#" onClick="MyWindow=window.open('devices?{{ device['URL'] }}', '{{ randomPopup }}', 'width=350,height=600'); return false">
                <h2>{{ device['DEV_TYPE'] }}</h2>
         </a>
        <span class="badge badge-info index_scanList-larger-badge">I2C_ID: {{ device['I2C_ID'] }}</span>
        <span class="badge badge-info index_scanList-larger-badge">HW_ID: {{ device['HW_ID'] }}</span>
        <span class="badge badge-info index_scanList-larger-badge">FW_ID: {{ device['FW_ID'] }}</span>
        <span class="badge badge-info index_scanList-larger-badge">NESTED: {{ device['NESTED'] }}</span>
        <hr>
    {% endfor %}

{% endblock %}