<meta http-equiv="refresh" content="2.5; URL=/treeView">
<link rel="stylesheet" href="/static/css/treeView.css">
{% extends '__base__.html' %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        function submitDevReset()
        {
            var socket = io.connect('{{ hostIP }}');
            socket.emit('get_value', {name: "reset", cmd: '[0,0]', cmdType: 'reset'});
        }

    </script>


    <h1>{% block title %} Xnorduino devices treeview {% endblock %}</h1>

    <div class="reset">
        <p>Reconnect USB connected hardware</p>
        <INPUT TYPE="button" value="Reconnect" onclick="submitDevReset();" >
    </div>
    <!--
    <dev class="zoom">
        <button onclick="body.style.zoom='100%'">Zoom 100%</button>
        <button onclick="body.style.zoom='75%'">Zoom 75%</button>
        <button onclick="body.style.zoom='50%'">Zoom 50%</button>
    </dev>
    -->

    {% if posts['AUTO_UPDATE_LOCKED'] == True %}
        <p class="badge badge-secondary deviceList_title-larger-badge"> Auto update: paused!</p>
        <p class="badge badge-light"> Close device windows to reactivate auto updates.</p>
    {% else %}
        <p class="badge badge-success deviceList_title-larger-badge"> Auto update: Active!</p>
        {% if posts['SLAVES']|length <= 0 %}
            <p class="badge badge-info deviceList_title-larger-badge"> Detecting devices, please wait...</p>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        {% endif %}
    {% endif %}

    {% if posts['MASTER']['DEV_TYPE']|length > 0 %}
        <div class="tree">
            <ul>
                <li>
                    <a href="#" onClick="MyWindow=window.open('devices?{{ posts['MASTER']['URL'] }}', '{{ randomPopup }}', 'width={{ posts['MASTER']['WINDOW_SIZE'][0] }},height={{ posts['MASTER']['WINDOW_SIZE'][1] }}'); return false">
                    <h2>ID: {{ posts['MASTER']['I2C_ID'] }}</h2><h4>{{ posts['MASTER']['DEV_TYPE'] }}</h4>
                    </a>
                    {% if posts['SLAVES']|length > 0 %}
                        <ul>
                        {% for device in posts['SLAVES'] %}
                            {% if device['NESTED']|length > 0 %}

                                    <li>
                                        <a href="#" onClick="MyWindow=window.open('devices?{{ device['URL'] }}', '{{ randomPopup }}', 'width={{ device['WINDOW_SIZE'][0] }},height={{ device['WINDOW_SIZE'][1] }}'); return false">
                                            <h3>ID: {{ device['I2C_ID'] }}</h3><h5>{{ device['DEV_TYPE'] }}</h5>
                                        </a>
                                        <ul>
                                            {% for subDevice in device['NESTED'] %}
                                                {% for findDevice in posts['SLAVES'] %}
                                                    {% if findDevice['I2C_ID']|int == subDevice|int %}
                                                        <li>
                                                        <a href="#" onClick="MyWindow=window.open('devices?{{ findDevice['URL'] }}', '{{ randomPopup }}', 'width={{ findDevice['WINDOW_SIZE'][0] }},height={{ findDevice['WINDOW_SIZE'][1] }}'); return false">
                                                            <h3>ID: {{ findDevice['I2C_ID'] }}</h3><h5>{{ findDevice['DEV_TYPE'] }}</h5>
                                                        </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    {% if device['isNested'] == false %}
                                        <li>
                                            <a href="#" onClick="MyWindow=window.open('devices?{{ device['URL'] }}', '{{ randomPopup }}', 'width={{ device['WINDOW_SIZE'][0] }},height={{ device['WINDOW_SIZE'][1] }}'); return false">
                                                <h3>ID: {{ device['I2C_ID'] }}</h3><h5>{{ device['DEV_TYPE'] }}</h5>
                                            </a>
                                        </li>
                                    {% endif %}

                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
