label{
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label, select {
    float:left;
}

input[type="checkbox"]{
    position: relative;
    top: 7px;
}


#dbSaveBtn, #daqAddBtn {
    position: relative;
    left: 113px;
    top: 1px;
}

.container{
    /*background-color: lightblue;*/
    width:10%;
    clear:left;
    text-align:left;
    padding-right:10px;
    padding-bottom:10px;
}

.wrapper{
    padding-top:10px;
    padding-left:50px;
}

.addNewRule{
    padding-top:10px;
    padding-bottom:100px;
}

.ruleList{
    padding-top:25px;
    padding-bottom:25px;
}

p#warning {
    color: red;
}