{% extends '/devices/__devicesBase__.html' %}

{% block content %}

    <script>
    var isDevNameLoaded = false;

    // If server has locked the autorefresh, start own communication:
    socket.on("isLocked", data => {
        console.log(data);
        if(data == true)
        {
            socket.emit('get_value', {name: "masterReadout", cmd: '[5, 9]', cmdType: 'RM'});  // only send data when server has locked autoRefresh

            if(isDevNameLoaded == false)
                socket.emit('get_value', {name: "masterReadout_loadDevName", cmd: '[16, 1, 16]', cmdType: 'WM'});  // write command do load the deviceName from eeprom.
        }
    });


    socket.on("value_reply", data => {

        if(data["name"] == "masterReadout")
        {
            console.log(data);
            document.getElementById("Alerts").innerHTML = "Fault-code: " + (data["value"][0]);
            document.getElementById("ext_vcc").innerHTML = "External vcc (voltage): " + (data["value"][1] /10) + "V";
            document.getElementById("ext_vcc_current").innerHTML = "External vcc (current): " + ((data["value"][2] *4)) + "mA";
            document.getElementById("ext_vcc_wattage").innerHTML = "External vcc (wattage): " + data["value"][3] / 10 + "W";
            document.getElementById("over_current_shtdwn").innerHTML = "Over-current shutdown: " + (data["value"][4] * 20) + "mA";
        }

        if(data["name"] == "masterReadout_loadDevName")
        {
            console.log(data);
            isDevNameLoaded = true;
            socket.emit('get_value', {name: "masterReadout_GetDevName", cmd: '[20, 9]', cmdType: 'RM'});  // only send data when server has locked autoRefresh
        }

        if(data["name"] == "masterReadout_GetDevName")
        {
            var devName = "";
            for(var i=0; i<9; i++)
                devName += String.fromCharCode(data["value"][i]);
            console.log(devName);
            document.getElementById("DeviceName_Text").value = devName;

            isDevNameLoaded = true;
        }

        if(document.getElementById("OverCurrentTreshhold_Text").value == "?")
        {
            document.getElementById("OverCurrentTreshhold_Text").value = data["value"][4];
        }
    });

    function submitDevName()
    {
        var devName = document.getElementById("DeviceName_Text").value;
        console.log(devName);

        var charArray = ["", "", "", "", "", "", "", "", ""];
        for(var i=0; i<devName.length;i++)
            charArray[i] = devName.charAt(i).charCodeAt(0);
        console.log(charArray);

        for(var i=devName.length; i<charArray.length; i++)
            charArray[i] = 32;
        console.log(charArray);

        var cmd = "[16, 10, 17, ";
        for(var i=0; i<charArray.length; i++)
            cmd += charArray[i] + ", ";
        cmd = cmd.slice(0, -2);
        cmd += "]";
        console.log(cmd);

        socket.emit('get_value', {name: "writeNewDevName", cmd: cmd, cmdType: 'WM'}); // enter wireless mode when MAC is vallid.
        alert("Device name has been changed!");
    }
    </script>

    <!-- Put variable read only values here:  -->
    <!-- These values are updated in the "socket.on("value_reply" script:  -->
    <div class="container">
        <h2 class="badge badge-info devices-larger-badge" id="ext_vcc"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="ext_vcc_current"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="ext_vcc_wattage"></h2>
        <h2 class="badge badge-info devices-larger-badge" id="over_current_shtdwn"></h2>
    </div>


    <div class="container">
        <form action="/devices_write">
            <h2 class="badge badge-info devices-larger-badge" id="Alerts"></h2>
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=5,1 />
            <input type="hidden" name="0" value="0">
            <input type="submit" value="Reset">
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <input type='hidden' name='posts' value="{{ posts }}" />
            <input type='hidden' name='cmd' value=9,1 />
            <label for="OverCurrentTreshhold_Text">overcurrent treshhold (x20):</label><br>
            <input type="text" id="OverCurrentTreshhold_Text" name="0" value="?">
            <input type="submit" value="Set">
        </form>
    </div>

     <div class="container">
         <label for="DeviceName_Text">Wireless device name:</label>
         <input type="text" id="DeviceName_Text" name="1" value="?">
         <INPUT TYPE="button" value="Set" onclick="submitDevName();" >
     </div>

    <div class="container">
        <button id="redirect1" value="master_v1_scheduler.html" onclick="pageRedirect('master_v1.html','redirect1')">Open scheduler</button>
        <button id="redirect2" value="master_v1_wireless.html" onclick="pageRedirect('master_v1.html','redirect2')">Wireless mode</button>
    </div>

{% endblock %}