{% extends '/devices/__devicesBase__.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% block content %}

    <script>
    var endOfScan = false;
    var nodeArray_NAME = [];
    var nodeArray_MAC = [];

    var scanTimeOut = 10;
    var epochTime = 0;

    // notes:
    // add a timeout on the scan, to prevent nodes from showing up multiple times whenever the scan timeout on hardware runs out. --> done!
    // update hw firmware to also send device name on scan? --> done!

    // If server has locked the autorefresh, start own communication:
    socket.on("isLocked", data => {
        console.log(data);
        if(data == true && endOfScan == false)
        {
            if(epochTime == 0)
            {
                epochTime = Math.round(Date.now() / 1000);
                console.log(epochTime);

                $('.loadSpinner').html("<p> Discovering remote nodes, please wait... </p>");
                autoUpdateLockedSpinner.style.display = "block";
            }

            if((epochTime + scanTimeOut) > (Math.round(Date.now() / 1000)))
            {
                console.log("BroadcastTransmit");
                var cmd = '[16, 2, 15, ' + scanTimeOut + ']';
                socket.emit('get_value', {name: "NetScanBroadCast", cmd: cmd, cmdType: 'WM'});
            }
            else
            {
                console.log("scanTimeout");
                document.getElementById("_wirelessNodes_TimeOut").hidden = false;
                document.getElementById("wirelessNodes_TimeOut").value = scanTimeOut;
                $('.loadSpinner').html("<p> Discovery timeout, increase the timeout value if not all devices where discovered in time. </p>");
                endOfScan = true;
            }
        }
    });


    socket.on("value_reply", data => {
        // After a masterWrite request the embedded device has reserved data, go and get that data with a readout:
        if(data["name"] == "NetScanBroadCast")
        {
            console.log(data);
            socket.emit('get_value', {name: "NetScanReadOut_NAME", cmd: '[29, 9]', cmdType: 'RM'}); // send readMaster request to hardware
        }

        if(data["name"] == "NetScanReadOut_NAME")
        {
            var devName = "";
            for(var i=0; i<9; i++)
                devName += String.fromCharCode(data["value"][i]);
            nodeArray_NAME.push(devName);
            console.log(devName);

            socket.emit('get_value', {name: "NetScanReadOut_MAC", cmd: '[20, 9]', cmdType: 'RM'}); // send readMaster request to hardware
        }

        // after a readout of the master data we want to store that data, we also want to check if there is more data available:
        if(data["name"] == "NetScanReadOut_MAC")
        {
            console.log(data);
            if(data["value"][0] == 1)
            {
                var byteArr = (data["value"]).toString().split(",");
                var selectBoxString = "[";
                for(var i = 1; i < byteArr.length; i++)
                {
                    selectBoxString += '"' + parseInt(byteArr[i]).toString(16) + '",';
                }

                selectBoxString = selectBoxString.slice(0, -1);
                selectBoxString += "]";

                nodeArray_MAC.push(selectBoxString);
            }
            else
            {
                endOfScan = true;
                $('.loadSpinner').html("<p> Discovery completed, " +  nodeArray_MAC.length  + " remote device(s) found. </p>");

                var selectBox = document.getElementById("wirelessNodes_Text");

                selectBox.options.add(new Option('USB/UART', '[0,0,0,0,0,0,0,0]') );

                for(var i=0; i<nodeArray_MAC.length; i++)
                {
                    var optionText = nodeArray_NAME[i];
                    var optionValue = nodeArray_MAC[i];
                    selectBox.options.add(new Option(optionText, optionValue) );
                }
            }
        }

        // close window after setting it into RF mode.
        if(data["name"] == "setRfMode")
        {
            socket.emit('clearDevList'); // clear devices in devicelist on change of remote node...
            alert("Changing node could take a while,\ndo not open device before next auto update!");
            window.close();
        }

    });

    function Rescan()
    {
        scanTimeOut = document.getElementById("wirelessNodes_TimeOut").value;
        document.getElementById("_wirelessNodes_TimeOut").hidden = true;
        autoUpdateLockedSpinner.style.display = "block";

        nodeArray_NAME = [];
        nodeArray_MAC = [];
        epochTime = 0;

        endOfScan = false;
    }

    function Connect()
    {
        console.log("Do something");

        var e = document.getElementById("wirelessNodes_Text");
        var value = e.options[e.selectedIndex].value;
        var text = e.options[e.selectedIndex].text;

        console.log(value);
        console.log(text);

        var cmd = value;
        if(value == '[0,0,0,0,0,0,0,0]')
            socket.emit('get_value', {name: "setRfMode", cmd: cmd, cmdType: 'clrRFmode'}); // exit wireless mode when MAC is filled with all zeros.
        else
            socket.emit('get_value', {name: "setRfMode", cmd: cmd, cmdType: 'setRFmode'}); // enter wireless mode when MAC is vallid.
    }
    </script>

    <div class="container">
        <button id="redirect2" value="master_v1.html" onclick="pageRedirect('master_v1_wireless.html','redirect2')">return to main page</button>
    </div>

    <div class="loadSpinner">
        <p>Discovering remote nodes, please wait...</p>
        <div id="autoUpdateLockedSpinner" class="spinner-border" role="status" >
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container" id="_wirelessNodes_TimeOut" hidden=true>
        <form action="/devices_write">
            <label for="wirelessNodes_TimeOut">Discovery timeout:</label>
            <input type="text" id="wirelessNodes_TimeOut" name="0" value="?">

            <INPUT TYPE="button" value="Rescan" onclick="Rescan();" >
            <!--<input type="submit" value="Set">-->
        </form>
    </div>

    <div class="container">
        <form action="/devices_write">
            <label for="wirelessNodes_Text">Connect to node:</label>
            <select id="wirelessNodes_Text" name="wirelessNodes"></select>

            <INPUT TYPE="button" value="Connect" onclick="Connect();" >
            <!--<input type="submit" value="Set">-->
        </form>
    </div>


    <div class="nodeList">

    </div>

{% endblock %}