<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('{{ hostIP }}');

    function Heart_Beat(){
        socket.emit('heart_beat');
        setTimeout(Heart_Beat, 2000);
    }
    Heart_Beat();

    // If server has locked the autorefresh, show on GUI:
    socket.on("isLocked", data => {
        console.log(data);

        var deviceContent = document.getElementById("deviceContent");
        var autoUpdateLockedSpinner = document.getElementById("autoUpdateLockedSpinner");
        if(data == true)
        {
            document.getElementById("AUTO_UPDATE_LOCKED").innerHTML = "";
            document.getElementById("AUTO_UPDATE_UNLOCKED").innerHTML = "Bus access: Granted";
            deviceContent.style.display = "block";
            autoUpdateLockedSpinner.style.display = "none";
        }
        else
        {
            document.getElementById("AUTO_UPDATE_UNLOCKED").innerHTML = "";
            document.getElementById("AUTO_UPDATE_LOCKED").innerHTML = "Bus access: HOLD";
            deviceContent.style.display = "none";
            autoUpdateLockedSpinner.style.display = "block";
        }
    });

    // redirect function that's globally available:
    function pageRedirect(pCurrentPage, pRedirectObject)
    {
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);

        var postData = urlParams.get('posts');
        if(postData != null)
        {
            var postData = postData.replaceAll("'", '"');
            var jsonData = JSON.parse(postData);

            url = jsonData["DEV_PAGE"];
            url = url.replace(pCurrentPage, document.getElementById(pRedirectObject).value);
            I2C_ID = jsonData["I2C_ID"];
            DEV_TYPE = jsonData["DEV_TYPE"];
            HW_ID = jsonData["HW_ID"];
            FW_ID = jsonData["FW_ID"];

            window.location.replace("devices?DEV_PAGE=" + url + "&I2C_ID=" + I2C_ID + "&DEV_TYPE=" + DEV_TYPE + "&HW_ID=" + HW_ID + "&FW_ID=" + FW_ID);
        }
        else
        {
            url = urlParams.get('DEV_PAGE');
            url = url.replace(pCurrentPage, document.getElementById(pRedirectObject).value);
            I2C_ID = urlParams.get('I2C_ID');
            DEV_TYPE = urlParams.get('DEV_TYPE');
            HW_ID = urlParams.get('HW_ID');
            FW_ID = urlParams.get('FW_ID');

            window.location.replace("devices?DEV_PAGE=" + url + "&I2C_ID=" + I2C_ID + "&DEV_TYPE=" + DEV_TYPE + "&HW_ID=" + HW_ID + "&FW_ID=" + FW_ID);
        }
    }
</script>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <title> {{ title }} </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">

    </nav>
     <div class="container">
       <h2>{{ title }}</h2>
       <p class="badge badge-secondary devices-larger-badge" id="AUTO_UPDATE_LOCKED"> </p>
       <p class="badge badge-success devices-larger-badge" id="AUTO_UPDATE_UNLOCKED"> </p>

         {% if inputIsValid == True %}
            <h2 class="badge badge-success devices-larger-badge" id="InputSuccess">Configuration saved!</h2>
         {% elif inputIsValid == False %}
            <h2 class="badge badge-danger devices-larger-badge" id="InputError">Configuration input error!</h2>
         {% endif %}

         <div class="container">
            <h2 class="badge badge-secondary devices-larger-badge"> I2C-ID: = {{ posts['I2C_ID'] }}</h2>
            <h2 class="badge badge-secondary devices-larger-badge"> HW-ID: = {{ posts['HW_ID'] }}</h2>
            <h2 class="badge badge-secondary devices-larger-badge"> FW-V: = {{ posts['FW_ID'] }}</h2>
         </div>

         <div class="container" id="deviceContent"> <!-- id is used inside javascript to show/hide the block content -->
            {% block content %}                     <!-- As usual webdevelpment does this in the most arbitrary and random way -->
            {% endblock %}
         </div>
         <div id="autoUpdateLockedSpinner" class="spinner-border" role="status" >
            <span class="sr-only">Loading...</span>
         </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>